# How many jobs are being created in rural Utah?
Earlier this year, Utah Governor Gary Herbert announced a new initiative to create 25,000 jobs in the counties off the Wasatch Front. The governor said it would take unprecedented collaboration to accomplish the goal. But an analysis by the Salt Lake Tribune of Department of Workforce Services labor data shows that 25,000 new jobs in four years would actually be a decrease from the previous four years. In fact, it would be the slowest consecturive four year period of job growth other than 2008-2012, a period affected by the great recession. 

Here's how we did the analysis. First we imported a spreadsheet of county- and sector-level employment for all of Utah going back to 2000.

In [1]:
import pandas as pd

In [2]:
employment = pd.read_csv('econ_data_emp.csv')

In [7]:
employment.head()

,Code,County,Description,Q1 2000,Q2 2000,Q3 2000,Q4 2000,Q1 2001,Q2 2001,Q3 2001,...,Q3 2014,Q4 2014,Q1 2015,Q2 2015,Q3 2015,Q4 2015,Q1 2016,Q2 2016,Q3 2016,Q4 2016
0,NaN,Beaver,Total Nonfarm Employment,1884.0,1905.0,1913.0,1838.0,1798.0,1912.0,1879.0,...,2235.0,2273.0,2353.0,2398.0,2386.0,2383.0,2359.0,2317.0,2192.0,2217.0
1,11.0,Beaver,"Agriculture, forestry, fishing and hunting (11)",416.0,426.0,417.0,413.0,437.0,432.0,471.0,...,504.0,500.0,456.0,504.0,507.0,501.0,501.0,507.0,500.0,491.0
2,21.0,Beaver,Mining (21),33.0,37.0,37.0,43.0,43.0,47.0,45.0,...,201.0,214.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22.0,Beaver,Utilities (22),43.0,42.0,39.0,39.0,38.0,37.0,38.0,...,51.0,52.0,50.0,50.0,53.0,54.0,56.0,49.0,46.0,39.0
4,23.0,Beaver,Construction (23),124.0,120.0,117.0,117.0,99.0,126.0,110.0,...,92.0,92.0,95.0,104.0,131.0,115.0,100.0,118.0,127.0,144.0

Then we limited the spreadsheet to break it into four-year periods. We also selected only for totals, so that we would only see the total number of job in each county in each year.

In [6]:
fouryears = employment[['County','Description','Q4_2000','Q4_2004','Q4_2008','Q4_2012','Q4_2016']]

In [7]:
fouryears_total = fouryears[fouryears.Description=='Total_Nonfarm_Employment']

In [8]:
fouryears_total

,County,Description,Q4_2000,Q4_2004,Q4_2008,Q4_2012,Q4_2016
0,Beaver,Total_Nonfarm_Employment,1838.0,1889.0,2131.0,2160.0,2217.0
23,Box_Elder,Total_Nonfarm_Employment,17897.0,18494.0,20056.0,16469.0,20061.0
46,Cache,Total_Nonfarm_Employment,43302.0,47479.0,51417.0,52889.0,58513.0
69,Carbon,Total_Nonfarm_Employment,8695.0,8740.0,10162.0,8997.0,8307.0
92,Daggett,Total_Nonfarm_Employment,413.0,398.0,378.0,376.0,368.0
115,Davis,Total_Nonfarm_Employment,86187.0,94930.0,102731.0,109551.0,124198.0
138,Duchesne,Total_Nonfarm_Employment,4906.0,5553.0,8810.0,9241.0,7702.0
161,Emery,Total_Nonfarm_Employment,3509.0,3753.0,3542.0,3374.0,3048.0
184,Garfield,Total_Nonfarm_Employment,1991.0,2076.0,2274.0,2066.0,2208.0
207,Grand,Total_Nonfarm_Employment,3976.0,3990.0,4403.0,4547.0,5125.0
230,Iron,Total_Nonfarm_Employment,14457.0,15685.0,16852.0,15688.0,18259.0
253,Juab,Total_Nonfarm_Employment,2539.0,2916.0,3407.0,3183.0,3491.0
276,Kane,Total_Nonfarm_Employment,2714.0,2721.0,3097.0,2896.0,3279.0
299,Millard,Total_Nonfarm_Employment,3494.0,3827.0,3968.0,3907.0,4165.0
322,Morgan,Total_Nonfarm_Employment,1561.0,1876.0,1887.0,1807.0,2165.0
345,Piute,Total_Nonfarm_Employment,237.0,339.0,362.0,251.0,235.0
368,Rich,Total_Nonfarm_Employment,475.0,592.0,700.0,519.0,658.0
391,Salt_Lake,Total_Nonfarm_Employment,556442.0,546519.0,602520.0,618246.0,697332.0
414,San_Juan,Total_Nonfarm_Employment,3905.0,3867.0,4214.0,3972.0,4155.0
437,Sanpete,Total_Nonfarm_Employment,7088.0,7109.0,7791.0,7402.0,7991.0
460,Sevier,Total_Nonfarm_Employment,7128.0,7581.0,8053.0,8049.0,8488.0
483,Summit,Total_Nonfarm_Employment,15442.0,17991.0,21744.0,22962.0,26109.0
506,Tooele,Total_Nonfarm_Employment,11478.0,12609.0,15538.0,15628.0,16178.0
529,Uintah,Total_Nonfarm_Employment,9586.0,11174.0,15945.0,14966.0,12167.0
552,Utah,Total_Nonfarm_Employment,157657.0,166154.0,185535.0,197581.0,241834.0
575,Wasatch,Total_Nonfarm_Employment,4703.0,5539.0,6454.0,6570.0,8314.0
598,Washington,Total_Nonfarm_Employment,34121.0,44599.0,50308.0,50368.0,62739.0
621,Wayne,Total_Nonfarm_Employment,1050.0,944.0,1052.0,840.0,952.0
644,Weber,Total_Nonfarm_Employment,87868.0,90492.0,95150.0,93043.0,104918.0
667,Statewide,Total_Nonfarm_Employment,1094655.0,1129836.0,1250482.0,1277557.0,1455222.0

We then wanted to select for only the counties outside the Wasatch Front. It is difficult to define rural Utah, but the Governor has decided to focus on the 25 counties outside the Wasatch Front. So we created a variable that includes only the counties outside the Wasatch Front, then filtred the data to only those counties. That gave us the total for the counties we wanted to look at.

In [10]:
non_wasatch = ['Wayne', 'Washington', 'Wasatch', 'Uintah', 'Tooele', 'Summit', 'Sevier', 'Sanpete', 'San_Juan', 'Rich', 'Piute', 'Morgan', 'Millard', 'Kane', 'Juab', 'Iron', 'Grand', 'Garfield', 'Emery', 'Duchesne', 'Daggett', 'Carbon', 'Cache', 'Box_Elder', 'Beaver']

In [11]:
rural_emp = fouryears_total[fouryears_total.County.isin(non_wasatch)]

We then got the total for the rural counties for each year.

In [67]:
rural_q42016 = rural_emp.Q4_2016.sum()

In [68]:
rural_q42012 = rural_emp.Q4_2012.sum()

In [69]:
rural_q42008 = rural_emp.Q4_2008.sum()

In [70]:
rural_q42004 = rural_emp.Q4_2004.sum()

In [71]:
rural_q42000 = rural_emp.Q4_2000.sum()

Once we had all the totals, we could calculate the job growth in each four year period. From 2000-2004 rural Utah added 25,236 jobs:

In [72]:
rural_q42004 - rural_q42000

25236.0

From 2004-2008, rural Utah added 32,804 jobs:

In [73]:
rural_q42008 - rural_q42004

32804.0

From 2008-2012, rural Utah lost 5,418 jobs:

In [74]:
rural_q42012 - rural_q42008

-5418.0

From 2012-2016, rural Utah added 27,767 jobs:

In [75]:
rural_q42016 - rural_q42012

27767.0

According to Governor Herbert's plan, in the next four years, rural Utah will add 25,000 jobs, a relatively low goal compared to other periods when there was no added government job creation effort.